nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.navs {
  width: 90%;
}

.nav1 {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-inline: 20px;
}
.btn-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icon {
  background-color: var(--color-bg);
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.7rem;
}
.bttn {
  width: 10rem;
  height: 1.8rem;
  border-radius: 10px;
  background-color: var(--color-dark);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.8rem;
  padding: 0px;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 350px;
}
.logo img{
  width: 97px;
}
.logo_title{
  font-family: 'changa';
  font-size: 23px;
  font-weight: 800;
}
.input {
  width: 12rem;
  height: 1.6rem;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
  padding: 10px;
}
.social-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.4rem;
  background-color: #fff;
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
}

.lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  /* background-color: var(--color-bg); */
  font-family: 'changa';
  font-size: 23px;
  font-weight: 800;
  direction: rtl;
 
}

.lists li{
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lists li:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}
